# FastAPI & Server
fastapi
uvicorn[standard]
python-multipart
python-dotenv

# Core
pandas
pyyaml
requests
tqdm
Pillow

# CLIP / Transformers
torch==2.2.2+cpu
transformers

# LangChain + OpenAI
langchain
langchain-core
langchain-openai
openai
datasets